@page
@model Project_Management_System.Pages.crud.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Topic</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Topic.TopicName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Topic.TopicName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Topic.TopicDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Topic.TopicDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Topic.SupervisorID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Topic.SupervisorID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Topic.MarkerID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Topic.MarkerID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Topic.TopicID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
