@page
@model Project_Management_System.Pages.crud.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Topic</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="TopicID" class="control-label"></label>
                <select asp-for="TopicID" class="form-control" onchange="showForm(this)">
                    <option value="">-- Select Topic --</option>
                    @foreach (var topic in Model.Topics)
                    {
                        <option value="@topic.TopicID" data-name="@topic.TopicName" data-description="@topic.TopicDescription" data-supervisor="@topic.SupervisorID" data-marker="@topic.MarkerID">@topic.TopicName</option>
                    }
                </select>
                <span asp-validation-for="TopicID" class="text-danger"></span>
            </div>
            <div id="topicDetails" style="display:none">
                <div class="form-group">
                    <label class="control-label">Topic Name</label>
                    <input id="topicName" asp-for="Topic.TopicName" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Description</label>
                    <input id="topicDescription" asp-for="Topic.TopicDescription" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Supervisor ID</label>
                    <input id="supervisorID" asp-for="Topic.SupervisorID" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Marker ID</label>
                    <input id="markerID" asp-for="Topic.MarkerID" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <input type="submit" value="Delete" name="command" class="btn btn-danger" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>
