@page
@model Project_Management_System.Pages.crud.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Topic[0].TopicName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topic[0].TopicDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topic[0].SupervisorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topic[0].MarkerID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Topic) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TopicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopicDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupervisorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarkerID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TopicID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TopicID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TopicID">Delete</a>
            </td>
        </tr>
}

   
    </tbody>

</table>

<div class="text">
    <p>Add topic</p>
    <a class="topicBtn" href="/crud/Create">
       +
    </a>
</div>

<div class="text">
    <p>Edit/Remove topic</p>
    <a class="topicBtn" <a asp-page="/crud/Edit" asp-route-id="4459">-</a>
</div>
