@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@inject UserManager<SPMS_Staff> StaffManager

@using Microsoft.AspNetCore.Identity
@using Project_Management_System.Data

<link rel="stylesheet" href="~/css/browseTopics.css">
<script src="~/js/listBoxExpansion.js"></script>
<script src="~/js/clearSearch.js"></script>

<body>
    <span class="body--browseTopics--title">Browse Topics</span>

    <div class="body--search--container">
        <form method="get">
            <input type="text" name="Search" placeholder="Search for a topic">
            <button type="submit">
                <div class="submitIcon"></div>
            </button>
        </form>
        <button type="button" onclick="clearSearch()" class="clearbtn">Clear</button>
    </div>


    <div class="dropdown">
        <button onclick="toggleDropdown()" class="dropbtn">Course</button>
        <div id="myDropdown" class="dropdown-content">
            <input type="text" placeholder="Search.." id="myInput" onkeyup="filterCourses()">
            @foreach (var course in Model.Course)
            {
                <form method="get">
                    <a asp-page-handler="get" asp-route-courseID="@course.CourseID">@course.CourseName</a>
                </form>
            }
        </div>
    </div>



    <div class="body--Topics--container">
        @foreach (var topic in Model.Topic)
        {
            <div class="topicBox">
                <span class="topicTitle">@topic.TopicName</span>
                @if (topic.SupervisorID != null)
                {
                    var staff = await StaffManager.FindByIdAsync(topic.SupervisorID);
                    if (staff != null)
                    {
                        <div class="SupervisorGroup">
                            <span class="topicSupervisor">@staff.Name</span>
                            <div class="supervisorIcon"></div>
                        </div>
                    }
                }

                <div class="topicDescription">@topic.TopicDescription</div>

                <div class="topicButtonContainer">
                    <button class="expandTopic">
                        <div class="expandIcon"></div>
                    </button>

                    <!--adjust the form as needed-->
                    @if (User.IsInRole("Student"))
                    {
                        <form method="post">
                            <button onclick="myFunction()" type="submit" class="addTopic" asp-page-handler="Add" asp-route-topicID="@topic.TopicID">
                                <div class="addIcon"></div>
                            </button>
                        </form>
                    }

                    @if (User.IsInRole("Co-ordinator"))
                    {
                        <form method="post">
                            <button onclick="myFunction()" type="submit" class="addTopic" asp-page="crud/Edit" asp-route-id="@topic.TopicID">
                                <div class="addIcon"></div>
                            </button>
                        </form>
                    }

                    @if (User.IsInRole("Staff"))
                    {
                        <form method="post">
                            <button id="editTopic" onclick="myFunction()" type="submit" asp-page="#" asp-route-id="#">
                                <div class="editIcon"></div>
                            </button>
                        </form>   
                    }

                </div>
            </div>
        }

    </div>
</body>
