@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@inject UserManager<SPMS_Staff> StaffManager

@using Microsoft.AspNetCore.Identity
@using Project_Management_System.Data

<link rel="stylesheet" href="~/css/browseTopics.css">
<script src="~/js/listBoxExpansion.js"></script>

<form method="get" class="body--search--container">
    <input type="text" name="Search" placeholder="Search for a topic">
    <button type="submit"></button>
</form>
<div class="dropdown">
    <button onclick="filterFunction1()" class="dropbtn">Course</button>
    <div id="myDropdown" class="dropdown-content">
        <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
        <!-- You can replace the example links with your dynamic data -->
        @foreach (var course in Model.Course)
        {
            <a href="#">@course.CourseName</a>
        }
    </div>
</div>


    <div class="body--Topics--container">
        @foreach (var topic in Model.Topic)
        {
            <div class="topicBox">
                <span class="topicTitle">@topic.TopicName</span>
                @if (topic.SupervisorID != null)
                {
                    var staff = await StaffManager.FindByIdAsync(topic.SupervisorID);
                    if (staff != null)
                    {
                        <div class="SupervisorGroup">
                            <span class="topicSupervisor">@staff.Name</span>
                            <div class="supervisorIcon"></div>
                        </div>
                    }
                }
               

                <div class="topicDescription">@topic.TopicDescription</div>

                <div class="topicButtonContainer">
                    <button class="expandTopic">
                        <div class="expandIcon"></div>
                    </button>

                    <!--adjust the form as needed-->
                    @if (User.IsInRole("Student"))
                    {
                        <form method="post">
                            <button onclick="myFunction()" type="submit" class="addTopic" asp-page-handler="Add" asp-route-topicID="@topic.TopicID">
                                <div class="addIcon"></div>
                            </button>
                        </form>

                    }
                </div>
            </div>
        }
    </div>